<h2>Articles</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Date Created</th>
  </tr>
  <%- @articles.each do |article| -%>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.created_at.to_s(:long) %></td>
  </tr>
  <%- end -%>
</table>